body {
  margin: 0;
  padding: 0;
  background: url('wallpaperflare.com_wallpaper.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  background-color: black;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  body {
      background-position: center center;
      background-attachment: scroll;
      background-size: cover;
  }
}


img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;

}

h1{
    color: aliceblue;
}

h2{
    color: aliceblue;
}

p{
    color: aliceblue;
}

ul{
    color: aliceblue;
}

li{
    color: aliceblue;
}

button {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px white;
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: white;
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }
  
  button span {
    margin: 10px;
  }
  
  button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
  button:hover {
    color: black;
    border: 1px solid white;
  }
  
  button:hover::before {
    box-shadow: inset 0 0 0 10em white;
  }

  body{
    margin-top: 9px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 60px;
}

span{
  color: darkmagenta;
}

.btn-donate {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(270, 100%, 70%, 1); /* Roxo Neon mais claro */
  --btn-bg-2: hsla(285, 100%, 50%, 1); /* Roxo Neon mais escuro */
  --btn-bg-color: hsla(360, 100%, 100%, 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(175, 0, 255, 0.5), 0px 5px 5px -1px rgba(155, 0, 245, 0.25), inset 4px 4px 8px rgba(200, 0, 255, 0.5), inset -4px -4px 8px rgba(125, 0, 230, 0.35);
  margin-left: -50px;
}

.btn-donate:hover {
  background-position: right top;
}

.btn-donate:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .btn-donate {
    transition: linear;
  }
}


 

  